{% load static %}

<header class='shadow-md py-4 px-4 sm:px-10 bg-[#003083] font-[sans-serif] min-h-[100px]'>
  
  <div class='flex  items-center justify-between gap-5 relative'>
  
    <div class="flex justify-start py-4 space-x-4 w-full">
    
      <div class="max-lg:border-b max-lg:bg-blue-200 max-lg:py-2 px-3 max-lg:rounded">
        <a class="font-bold text-white  text-lg">ผู้ดูเเลระบบ</a>
      </div>
    </div>

  
      <!--Navbar authenticated-->
      {% if user.is_authenticated %}
      <ul id="collapseMenu" class='flex  justify-end py-4 space-x-4 w-full'>
        <li class='max-lg:border-b max-lg:bg-[#007bff] max-lg:py-2 px-3 max-lg:rounded'>
          <a href="{% url 'admin_home' %}"
            class='lg:hover:text-sky-100 text-[#eee1ba] max-lg:text-white block font-bold text-[17px] '>หน้าหลัก</a>
        </li>
        <li class='max-lg:border-b max-lg:bg-[#007bff] max-lg:py-2 px-3 max-lg:rounded'>
          <a href="{% url 'dashboard' %}"
            class='lg:hover:text-sky-100 text-[#eee1ba] max-lg:text-white block font-bold text-[17px] '>Dashboard</a>
        </li>

        <li class='max-lg:border-b max-lg:py-2  max-lg:rounded'><a href="{% url 'logout' %}"
          class='lg:hover:text-sky-100 text-[#eee1ba] block font-bold text-[17px]'>ออกจากระบบ</a>
      </li>
    </ul>

    {% endif %}
    </div>
  </header>
