{% extends 'components/base.html' %}

{% block title %} ที่ตั้งร้าน {% endblock %}

{% block content %}

<div class="flex-grow ">
<div class="flex flex-col items-center justify-center shadows ">
  <iframe class="w-[60rem] h-[25rem] mt-10" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3851.8476108116206!2d104.9030116751959!3d15.111725185437459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311685f96a4556cf%3A0x9c60cf733a55c5ca!2z4LmA4Lit4LiqICbguK7guLLguKPguJfguYwg4LiL4Lix4LiBIOC4o-C4teC4lA!5e0!3m2!1sth!2sth!4v1707819957182!5m2!1sth!2sth" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="self-center mr-[16em] text-2xl ">
    <p><strong>ชื่อร้าน:</strong> ร้าน เอส & ฮาร์ท ซัก รีด</p>
    <p><strong>Line ID:</strong> <span class="line-id">0853839813</span></p>
    <p><strong>โทรศัพท์:</strong> <span class="phone-number">0853839813</span></p>
  </div>
</div>



</div>
{% endblock %}