<section class="mt-8">
    <footer class="bg-[#003083]  hidden md:block mt-auto">
      <!-- Footer content goes here -->
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center ">
        <ul class="flex flex-wrap items-center text-sm font-medium text-[#eee1ba]  sm:mt-0 mt-8 space-x-6 ">
          <a href="https://www.facebook.com/photo/?fbid=851950706721678&set=pcb.851950763388339" class="hover:text-sky-100" target="_blank">
            <i class="fa-brands fa-line">:เอส & ฮาร์ทซัก รีด</i>
        </a>
        <h3>หรือ</h3><i class="fa-solid fa-phone text-lg">: 0853839813 </i>
        </ul>
      </div>
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center">
        <span class="text-sm text-gray-400 sm:text-center dark:text-gray-400">© 2023 <a href="https://www.facebook.com/esso2545" target="_blank" class="hover:underline">Kiadtisak 64</a>. All Rights Reserved.</span>
      </div>
    </footer>
</section>
  